//- Navbar mixins
mixin nav(name, id, style, user)
    - var style = (typeof style === 'undefined') ? "default" : style
    .row
        nav.span.12.navbar.navbar-default(role='navigation')
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#dropdown_menu', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/advert/show')
                img(alt=  name src="/assets/images/logo.png")
          .collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav
              li.active
                a(href='/advert/show') #{__('nav.advert')}
              li
                a(href='/about') #{__('nav.about')}
              li
                a(href='/contact') #{__('nav.contact')}
              li
                a(href='/login') #{__('nav.signin')}
              form.navbar-form.navbar-left(role='search', action='/advert/show', method='get')
                form-group
                  input.form-control(type='text', placeholder='Search adverts', name='q', data-cip-id='cIPJQ342845639')
                button.btn.btn-default(type='submit') Submit
            if user
                .collapse.navbar-collapse
                  ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/advert/new') #{__('advert.button-add')}    
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | #{user.username}
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='/user/#{user.id}') #{__('user.my-profile')}
    

 
mixin nav_item(href, active)
    li(class=active): a( href=href )
        block
 
mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block
 
mixin nav_divider
    li.divider
 
mixin nav_header
    li.dropdown-header
        block
 
//- End navbar mixins

//- Panel mixin
mixin panel(heading, footer, style)
    - var style = (typeof style === 'undefined') ? "default" : style
    div( class=["panel", "panel-" + style] )
        .panel-heading= heading
        .panel-body
            block
        if footer
            .panel-footer=footer
            
//Header mixin
mixin header
    head
        title Windsurfing Portal
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Windsurgfing portal' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")

mixin scripts
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' )
        
//Search form mixin
mixin search
    form.navbar-form.navbar-left(role='search', action='/advert/show', method='get')
        form-group
            input.form-control(type='text', placeholder='Search adverts',name='q')
        button.btn.btn-default(type='submit') Submit