include ../mixins
doctype
html( lang="en" )
    +header
 
    body(style="padding-bottom:10rem;")
        +scripts
        .container
            +nav("Windsurfing Portal", "dropdown_menu", "", user)
            .row
                .jumbotron
                    if user
                        if user.profileImage
                            img.img-circle(src='/profileImage/show/#{user.profileImage.id}')
                        h1 #{user.nickname}
                        h2 Email: #{user.email}
                        a.btn.btn-medium.btn-primary(href='/user/edit/#{user.id}') Edit
                        ul#js-user-profile-tabs.nav.nav-tabs(role='tablist')
                            li(role='presentation')
                                a(role='tab', aria-controls='adverts') Adverts
                                if adverts.lenght > 0
                                    table.table.table-striped
                                        thead
                                            tr
                                                th Advert title
                                                th Price
                                                th Creator
                                                th State
                                                th Actions
                                        tbody
                                            each adv in adverts
                                                tr
                                                    td #{adv.title}
                                                    td #{adv.price}
                                                    td #{adv.creator}
                                                    td #{adv.state}
                                                    td &npsp;
                                else
                                    .alert.alert-warning No adverts found.
                                    
                            if user        
                                li(role='presentation')
                                    a(role='tab', aria-controls='users') Users
                                        if users.length > 0
                                            table.table.table-striped
                                                thead  
                                                    tr
                                                        th Username
                                                        th Email
                                                        th Role
                                                tbody
                                                    each usr in users
                                                        tr 
                                                            td #{usr.username}
                                                            td #{usr.email}
                                                            td #{usr.role}
                                        else
                                            .alert.alert-warning No users found.