include ../mixins
doctype
html( lang="en" )
    +header
    body(style="padding-bottom:10rem;")
        script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
        script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' )
        .container
            +nav("Windsurfing Portal", "dropdown_menu")
                +nav_item( "/advert/show", "active") Adverts
                +nav_item( "/about" ) About
                +nav_item( "/contact" ) Contact
                +nav_item( "/login" ) Signin
                +search
            .row
                .col-lg-12
                    +panel('Filter')
                        form.form-inline(role='form', action='/advert/show', method='get', id="filterForm")
                            .form-group 
                                label(for='advertType') #{__('filter.advert.type')}
                                select#advertType.input-sm.form-control(name='advertType')
                                    option(value='sell') #{__('advert.type.sell')}
                                    option(value='buy') #{__('advert.type.buy')}
                            .form-group
                                label(for='advertCategory') #{__('filter.advert.category')}
                                select#advertCategory.form-control.input-sm(name='advertCategory')
                                    option(value='sail') #{__('advert.category.sail')}
                                    option(value='board') #{__('advert.category.board')}
                                    option(value='complete') #{__('advert.category.complete')}
                                    option(value='clothes') #{__('advert.category.clothes')}
                            input.btn.btn-sm.btn-primary(type='submit', value='Set filter') 
            if adverts.length > 0
                .row
                    each adv in adverts
                        .col-lg-4.col-md-6.col-sm-12
                            +panel(adv.title, adv.createdAt.toISOString(), 'success') 
                                p 
                                    span.label.label-default #{__('advert.type.' + adv.advertType)}
                                    span.label.label-warning #{__('advert.category.' + adv.advertCategory)}
                                p #{adv.advertBody}
                                p #{__('advert.price')}: #{adv.price}
                                if adv.images && adv.images.length > 0
                                    div.row
                                        each image in adv.images
                                            div.col-xs-6.col-md-6
                                                a.thumbnail(href='#')
                                                    img(src = '/image/show/#{image.id}', alt='#{image.fileName}')
                                p
                                    a.btn.btn-medium(href='/advert/contact/#{adv.id}') #{__('advert.contact.user')}
                nav
                    ul.pager
                        li
                            a(href='#') #{__('common.msg.next')}
            else
                .jumbotron
                    h2.text-center #{__('common.msg.no-items')}   